@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Rental" asp-action="Create" method="post">
    <!-- Input and Submit elements -->



    <button type="submit">Save</button>
</form>